.sidebar{
    background: $paleblue;
    padding: 1em 1em 2em;
    border-bottom: 2px solid $darkblue;
    h3{
        border-bottom: 2px solid $lightblue;
    }
    ul{
        list-style: none;
        margin-left: 1em;
    }
    li{
        margin-bottom: 1em;
        &:before{
            content: '\e802';
            font-weight: 700;
            color: $lightblue;
            margin-left: -1em;
            margin-right: .5em;
            font-family: "fontello";
            font-style: normal;
            speak: none;
        }
    }
    a{
        color: $lightblue
    }
}
/* widgets */
.widget_ratings-widget {
    h2{
    display: inline;
    margin: 0;
    font-size: 1em;
    font-weight: 400;
        a{ 
            text-decoration: underline;
        }
    }
    .excerpt,
    .post-ratings{
        display: none;
    }

}
.widget_ratings-widget .stars{
    display: block;
    margin: 0;
    img+img{
        margin: 0;
    }
}
.widget_text {
    background-color: $darkblue;
    color: white;
    margin: -1em -1em 2em;
    padding: 1em;
    h3 {
        border-bottom: 0;
        color: $yellow;
        font-size: 2em;
        line-height: 1;
        margin: 0;
    }
    .infusion-form {
        label {
            display: block;
            font-weight: 700;
            margin-bottom: 10px;
        }
        input[type="text"] {
            border-bottom: 2px solid $darkblue;
            width: 100%;
        }
        input[type="submit"] {
            border-bottom: 2px solid #603;
        }
    }

    img {
        float:left; 
        margin-right: 20px;
    }
}
@media screen and (min-width: 45em){
    .sidebar{
        float: right;
        width: 33%;
        margin-top: 0;
    }
}
