.testimonial{
    margin: 1em 0 2em;
}
.testimonial p{
  display: inline;
  margin: 0;
  font-size: 1.3em;
  line-height: 1;
  font-style: italic;
  font-weight: 700;
}
.testimonial em{
    font-size: .9em;
    font-style: normal;
    font-weight: 400;
}