/* STYLES FOR G_FORMS */
.footer-contact,
.infusion-wrapper {
    label{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
}
.gform_wrapper .footer-contact textarea.large{
    height: 100px;
}
.gform_wrapper input,
.gform_wrapper textarea,
.infusion-wrapper input,
.infusion-wrapper textarea {
    border:none;
    font-style: italic;
    padding: 4px;
    width: 100%;
}
.gform_wrapper .footer-contact .gform_footer{
    margin-top: 0;
    padding-top: .5em;
}
.gform_wrapper input[type=submit],
.infusion-wrapper button,
.main-contact-form button {
    background: $brightpink;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    border:none;
    padding: 8px;
    transition: all .2s ease-in;
    &:hover, &:focus{
        background: $darkred;
    }
}
.practical form{
    input{
        font-style: italic;
        border: none;
        padding: 8px;
        margin-bottom: 1em;
        width: 100%;
        color: #666; 
    }
    input[type="submit"]{
        color: #fff;
        background: $brightpink;
        border-bottom: 2px solid $darkred;
        font-weight: 700;
    }
}
.main-contact-form {
    margin: 2em 0;
    background: $darkblue;
    padding: 20px 20px 60px;
    border-bottom: 3px solid $brightpink;
    
    button[type="submit"]{
        float: right;
        border-bottom: 2px solid $darkred;
    }
    label{
        color: #fff;
        .gfield_required{
            color: yellow;
        }
    }

    .infusion-field {
        display: flex;

        > * {
            flex: 1;

            &:nth-child(2) {
                flex: 2;
            }
        }
    }
}
html div#om-kpskojvqco-lightbox #om-lightbox-case-study-theme-optin{
    background: $darkblue;
}

